@import url(styles/reset.css);

@import url(styles/header.css);

@import url(styles/title.css);

@import url(styles/about.css);

@import url(styles/skills.css);



body {
    background-color: whitesmoke;
    color: black;
    font-family: 'Raleway';
    line-height: 1;
    overflow-x: hidden;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;

}















/* Vamos a desafiarnos trabajando con responsividad?
Utiliza las referencias de los breakpoints @media abajo */

/*Tablet*/
@media (min-width: 768px) {

    /* Menú */
    
    /*title*/
    
    /*Skills*/
    
    /*Hobbies*/
    
    /*Formación Académica*/
    
    /*Experiencia Profesional*/
    
    }
    
/*Mobile*/
@media (min-width: 425px) {
    
    /*Menu*/
    
    /*Titulo*/
    
    /*Sección sobre mi*/
    
    /*Skills*/
    
    /*Hobbies*/
     
    /*Formación Académica*/
    
    /*Experiencia Profesional*/
    
     /*Contacto*/
    
    /*Footer*/
    
}