.about{
    display: flex;
    padding: 10px 20px;
}

.about__title{
    font-weight: bold;
    text-align: center;
}

.about__container{
    display: flex;
    padding-top: 1em;
    flex-direction: column;
    gap: 15px;
    text-align: center;
    font-size: 14px;
    line-height: 20px;

}

.img_firma{
    display: flex;
    justify-content: center;
}

.firma__about{
    height: 40px;
    width: 50px;
}

@media screen and (min-width:1025px){
    .about{
        padding: 20px 100px;
    }
    
    .about__title{
        text-align: left;
        font-size: 30px;
    }
    .about__container{
        text-align: left;
        font-size: 20px;
        margin-right: 26%;
        line-height: 25px;
    }

    .firma__about{
        height: 70px;
        width: 100px;
    }
}