.experience{
    display: flex;
    flex-direction: column;
    align-items: center;

}

.experience__section__title{
    font-size: 20px;
    font-weight: bold;
    margin-top: 15px;
    margin-bottom: 15px;
}

.experience__box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.experience__img{
    display: flex;
    flex-direction: column;
    width:70%;
    align-items: center;
}

.experience__title{
    font-size: 12px;
    margin-bottom: 8px;

}

.experience__info{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.imagen__div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.experience__text{
    font-size: 10px;
    margin-top: 5px;
}

.experience__description{
    margin-bottom: 15px;
    margin-top: 5px;

}

.experiencia__botao--repo{
    font-size: 8px;
    background-color: rgb(37, 116, 119);
    color: aliceblue;
    padding: 5px;
}

.experience__botao--demo{
    font-size: 8px;
    background-color: rgb(37, 116, 119);
    color: aliceblue;
    padding: 5px;
}