.hobbies{
    display: flex;
    flex-direction: column;
    padding: 20px 20px;
    justify-content: space-around;
    align-items: center;
}

.hobbies__title{
    font-size: 20px;
    font-weight: bold;
    padding: 10px 20px;
}

.hobbies__line{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    
}

.hobbies__box{
    height: 60px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items:end;
    background-color:rgb(216, 224, 240);
    border-radius: 10px;
    box-shadow: 2px 2px 3px rgb(155, 176, 218);
}

.hobbies__img{
    display: flex;
    justify-content: center;
}

.hobbies__name{
    color: #656565;
    display: flex;
    justify-content: center;
    padding: 5px 5px;
}


@media screen and (min-width:1025px){
    .hobbies__title{
        font-size: 2em;
    }
    
    .hobbies__line{
        gap: 15px;
        
    }
    
    .hobbies__box{
        height: 80px;
        width: 150px;
    }
    
    .hobbies__img{
        height: 35px;

    }
    
    .hobbies__name{
        padding: 5px 0px 7px 0px;
        font-size: 20px;
    }

}

@media screen and (min-width:768px){
    .hobbies__title{
        font-size: 1.8em;
    }
    
    .hobbies__line{
        gap: 15px;
    }
    
    .hobbies__box{
        height: 70px;
        width: 130px;
    }
    
    .hobbies__img{
        height: 30px;
    }
    
    .hobbies__name{
        padding: 5px 0px 6px 0px;
        font-size: 17px;
    }

}